<!doctype html>
<html lang="en">
  <head>
    <title>New Reward</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Coffee add form</h2>
        <form th:action="@{/addReward}" method="post" th:object="${reward}" enctype="multipart/form-data">
          
      
          <div class="form-group">
              <label for="coffeeReward">Reward Name</label>
              <input type="text" class="form-control" th:field="*{rewardname}" id="rewardname" placeholder="Enter reward">
          </div>
 
          <div class="form-group">
              <label for="beanCount">Bean Count</label>
              <input type="number" th:field="*{beancount}" class="form-control" id="beancount" placeholder="Enter bean count">
          </div>
          <div class="form-group">
              <div class="custom-file">
                  <input type="file" name="file" accept="image/x-png,image/jpeg,image/jpg" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Şəkil seç</label>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
      </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>